# Data Science Tools and Ecosystem

In this notebook, the tools and Ecosystem for Data Science have been summarized.

**Objectives:**

*List some popular languages for Data Science

*List commonly used libraries for Data Science

*Show examples of arithmetic expressions in Python

Some of the popular languages that are used for Data Science are:

1. Python
2. R
3. SQL

While some of the commonly used libraries for Data Science are:

1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. scikit-learn

| Data Science Tools |
|--------------------|
| Jupyter Notebooks|
| JupyterLab |
| RStudio|

### Here are some examples of arithmetic expressions in Python

In [3]:
# This expression will multiply and add integers
(3*4)+5

17

In [10]:
# This will convert 200 minutes (m) into hours (h) when divided by 60
h = 60
m = 200
m/h

3.3333333333333335

## Author
Zac A.